@tailwind base;
@tailwind components;
@tailwind utilities;

.name {
  background-image: linear-gradient(45deg, #20bf55, #01baef);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-top{
  transform: rotate(45deg) translateY(5px) translate(6px);
  
}

.open .hamburger-bottom{  
  transform: rotate(-45deg) translateY(-6px) translate(6px);  
}